@using Twitter.Web.ViewModels.Home

@model IEnumerable<TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Html.DisplayForModel();
        </div>
    </div>
</div>