@using Twitter.Web.ViewModels.Home
@using Twitter.Web.ViewModels.Tweet

@model IEnumerable<TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    Html.RenderPartial("_CreateTweetPartial", new CreateTweetViewModel());
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.DisplayForModel()
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
