@using Twitter.Web.ViewModels.Home

@model IEnumerable<TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.DisplayForModel()
        </div>
    </div>
</div>
