@using Twitter.Web.ViewModels.Home

@model TweetViewModel

<div class="row">
    <div class="col-sm-12">
        <img class="large-avatar" src="~/Avatar?id=@Model.ApplicationUserId" />
        <p class="user-title">@Model.AuthorName</p>
        <h4>
            @Model.Content
        </h4>
    </div>
</div>
<hr />
