@using Twitter.Web.ViewModels.Tweet
@using Microsoft.AspNet.Identity;

@model CreateTweetViewModel

<div class="container create">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @using (@Html.BeginForm("Create", "Tweet", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <div class="col-sm-1">
                        <img class="form-avatar" src="~/Avatar?id=@User.Identity.GetUserId()" />
                    </div>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.OriginalContent, new { @class = "form-control", placeholder = "What's happening?" })
                        @Html.ValidationMessageFor(model => model.OriginalContent, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-sm-offset-9">
                        <input type="submit" value="Tweet" class="btn btn-default" />
                    </div>
                </div>
            }       
        </div>
    </div>
</div>
<hr />

